{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>DICO - Hacemos la diferencia</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>


  <style>
  		html {
  			background-color: #fbfbfb;
  		}

  		h2 {
  			text-align: center;
  			font-family: 'Verdana', Verdana, Sans-serif;
  		}

  		img {
  			width: 300px;s
			height: auto;
		    display: block;
		    margin: auto;
  		}
  </style>

</head>
<body>
	<img src="{% static 'images/Logo01.png'%}" alt="dico_logo" width="300" height="auto" />
	<h2 >PRÓXIMAMENTE...</h2>
</body>
</html>